* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  height: 100vh;
}

a {
  text-decoration: none;
}

.container-dash {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  height: 100vh;
  background-color: #0a122a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px;
  max-width: 40%;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.logo {
  max-width: 100px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul li {
  margin-bottom: 24px;
}

nav ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 16px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: background 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

nav ul li a.active {
  background-color: #d4ff3c;
  color: #0a122a;
}

nav ul li a i {
  width: 24px;
  text-align: center;
  font-size: 16px;
}

.footer {
  font-size: 12px;
  text-align: start;
  padding: 16px;
  color: #ccc;
}

.footer strong {
  display: block;
  margin-bottom: 8px;
  color: white;
}


/*  */

.content-section {
  flex: 1;
  background-color: #f0f4f8;
  display: flex;
  flex-direction: column;
  padding: 24px 72px;
  overflow-y: auto;
  color: #1c2541;
  gap: 40px;
}


.kpis {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: white;
}

.kpi-card {
  background-color: #0a122a;
  border-radius: 20px;
  width: 360px;
  height: 240px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}


.kpi-card .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #F3FBD9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #B2E200;
}

.kpi-card .quantidade {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}

.kpi-card p {
  font-size: 16px;
  line-height: 1.4;
}

.kpi-card canvas {
  margin-bottom: 10px;
}

/* GRÃFICO CONCORDANCIA */
.opiniao-publico-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opiniao-publico-card h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* STAND */
.stand {
  background-color: #0a122a;
  border-radius: 20px;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 32px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  color: white;
}

.stand img {
  max-width: 180px;
  border-radius: 16px;
}

.descricao-personagem h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #B2E200;
}

.descricao-personagem p {
  font-size: 16px;
  line-height: 1.4;
}

/* tabela */
.tabela-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#tabela-top3-stands {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #1c2541;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
}

#tabela-top3-stands thead tr {
  background-color: #0a122a;
  color: white;
  font-weight: 700;
}

#tabela-top3-stands thead th:first-child {
  border-top-left-radius: 12px;
}

#tabela-top3-stands thead th:last-child {
  border-top-right-radius: 12px;
}

#tabela-top3-stands tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

#tabela-top3-stands tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

#tabela-top3-stands th,
#tabela-top3-stands td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  vertical-align: middle;
}

#tabela-top3-stands tbody td img {
  width: 90px;
  height: 90px;
  border-radius: 16px;
  object-fit: contain;
}

/* graficos */
.graficos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.graficos>div {
  background-color: #0a122a;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}